/*
    PC: >= 1200px 
    Table: >= 740px & <=1200px
    Mobile: <= 720px
*/

/*PC*/
@media (min-width: 1024px) {}

/* table */
@media (min-width: 740px) and (max-width: 1023px) {}

/* mobile */
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }
    #nav>li {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav {
        position: initial;
        background: #333;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    .mobile-menu {
        display: block;
    }
    
    #header .sreach-btn {
        display: none;
    }
}